.list-of-lists {
  width: 50vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: #697A21;
  border-radius: 5px;
}

.listindex-buttons {
  display: flex;
  justify-content: center;
}

.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  color: #E7E0A5;
  background-color: #6B4B3E;
  border-radius: 20px;
}

.list-row:hover {
  outline: 3px dotted red;
}

.item-name {
  display: inline-block;
  align-items: self-start;
  color: red;
}

.items {
  flex-grow: 0.9;
}
